requests
pystyle
phonenumbers
dnspython
email-validator
beautifulsoup4
lxml
whois
pyfiglet
termcolor
tqdm
pillow
pypdf2
docx
openpyxl
python-pptx
mutagen
python-magic
python-magic-bin
tinytag
holehe
trio
httpx